table.cart{
  width: 100%;
}
table.cart td{
  background: #fff;
  height: 120px;
  border-bottom: 1px solid #ddd;
}
.cart th{
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}
.imgbox{
  height: 50px;
  width: 150px;
  height: 150px;
  padding-top: 3px;
}
.imgbox img{
  width: 110px;
  height: 110px;
  object-fit: cover;
}
.prdbox{
  margin-left: 150px;
  position: relative;
}
.prdbox h1{
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}
.prdbox p{
  margin-top: 1px;
  width: 155px;
  color: #999;
  margin-bottom: 0;
}
.minus{
  display: inline-block;
  width: 20px;
  text-align: center;
  border: 1px solid #333;
}
span.qt{
  display: inline-block;
  width: 20px;
  text-align: center;
  border: 1px solid #333;
  border-left: none;
  border-right: none;
}
.plus{
  display: inline-block;
  width: 20px;
  text-align: center;
  border: 1px solid #333;
}

.btnFix{
  margin-top: 5px;
  position: relative;
}
.total-money{
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: #333;
}
.optPop{
  width: 250px;
  height: 250px;
  border: 1px solid #999;
  position: absolute;
  left: 330px;
  top: 450px;
  z-index: 50;
  background-color: #fff;
  display: none;
}
/*** 옵션변경 ***/
  .option-update{
    width: 450px;
    border: 1px solid #999;
    z-index: 10;
    position: absolute;
    background-color: #fff;;
    display: none;
  }
  .option-header{
    background: #999;
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    color: #fff;
  }
  .option-header h4{
    display: inline-block;
    margin: 0;
  }
  .option-header a{
    color: #fff;
  }
  hr{
    border-bottom: 1px dashed #999;
  }
  .option-body{
    padding: 20px;
  }
  .btn-group{
    width: 100%;
  }