#white+label{
  border: 1px solid #666;
}
#green+label{
  background-color: green;
}
#olive+label{
  background-color: olive;
}
#grey+label{
  background-color: gray;;
}
#black+label{
  background-color: black;
}
#red+label{
  background-color: red;
}
#blue+label{
  background-color: blue;
}
#pink+label{
  background-color: pink;
}